In [16]:
%env DATABASE_URL=postgresql://mimicuser:TokyoP%40rkDr!pgolf@localhost/mimic

env: DATABASE_URL=postgresql://mimicuser:TokyoP%40rkDr!pgolf@localhost/mimic

In [17]:
import os
import psycopg2
import pandas as pd

def get_connection():
    dsn = os.environ.get('DATABASE_URL')
    return psycopg2.connect(dsn)

def isNoReturnQuery(sql):
    sql = sql.upper().replace("\n", " ")
    if sql.startswith("WITH"):
        if sql.find(" CREATE ") or sql.find(" ALTER ") or sql.find(" INSERT ") or sql.find(" UPDATE "):
            return True
        else:
            return False
    else:
        if sql.startswith("CREATE ") or sql.startswith("ALTER ") or sql.startswith("INSERT ") or sql.startswith("UPDATE ") or sql.startswith("COMMENT ") or sql.startswith("DROP ") or sql.startswith("DELETE ") or sql.startswith("BEGIN "):
            return True
        else:
            return False
        

def runSQL(sql):
    con=get_connection()
    if isNoReturnQuery(sql):
        cur = con.cursor()
        cur.execute(sql)
        cur.close()             
        # commit the changes
        con.commit()
        con.close()
        return None
    else:
        res = pd.read_sql(sql=sql, con=con)
        con.close()
        return res

def headDB(tablename,n=10):
    if n<0:
        sql = "select * from " + tablename
    else:
        sql = "select * from " + tablename + " limit " + str(n)
    res = runSQL(sql)
    return(res)

def dropTableIfExists(tablename):
    sql = "drop table if exists " + tablename
    res = runSQL(sql)
    return(res)

In [18]:
import os
import psycopg2
import pandas as pd
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', -1)
def get_connection():
    dsn = os.environ.get('DATABASE_URL')
    return psycopg2.connect(dsn)

In [19]:
conn = get_connection()

In [8]:
import matplotlib

In [9]:
# patients using morphine whether stay icu
patient_in_icu = 0
patient_notin_icu = 0
sql = "select distinct temp.subject_id, temp.icustay_id, icd.icd9_code from mimiciii.diagnoses_icd icd \
      inner join (select distinct subject_id, icustay_id from mimiciii.prescriptions \
      where drug like '%Morphine%' and icustay_id is not null) temp \
      on icd.subject_id=temp.subject_id;"



stayicu = pd.read_sql(sql, con=conn)
#stayicu = stay[~stay['icustay_id'].isnull()]

# stayicu.to_csv('patients_icu_using_morphine.csv')

In [10]:
stayicu = stayicu.dropna(subset=['icd9_code'])
stayicu['icd9_code'].value_counts(normalize=True)[:5]

4019     0.026521
41401    0.018661
42731    0.017936
4280     0.017174
5849     0.013822
Name: icd9_code, dtype: float64

In [74]:
sqll = "select distinct temp.subject_id, icd.icd9_code from mimiciii.diagnoses_icd icd \
      inner join (select distinct subject_id, hadm_id from mimiciii.prescriptions \
      where drug like '%Morphine%' and icustay_id is null) temp \
      on icd.subject_id=temp.subject_id;"



nostayicu = pd.read_sql(sqll, con=conn)

In [80]:
sqll = "select distinct temp.subject_id, icd.icd9_code from mimiciii.diagnoses_icd icd where icd.icd9_code \
      inner join (select distinct subject_id from mimiciii.prescriptions \
      where drug like '%Morphine%') temp \
      on icd.subject_id=temp.subject_id;"



allstayicu = pd.read_sql(sqll, con=conn)

In [95]:
allstayicu = allstayicu.dropna(subset=['icd9_code'])
allstayicu[allstayicu['icd9_code'].astype(int).between(140, 239)]
# allstayicu['icd9_code'].value_counts()[:10]

ValueError: invalid literal for int() with base 10: 'E8497'

In [14]:
sqll = "select distinct temp.subject_id, icd.icd9_code from mimiciii.diagnoses_icd icd \
      inner join (select distinct subject_id from mimiciii.prescriptions \
      where drug like '%Codeine%') temp \
      on icd.subject_id=temp.subject_id;"



allstayicu = pd.read_sql(sqll, con=conn)
allstayicu['icd9_code'].value_counts(normalize=True)[:3]

4019     0.024736
4280     0.018456
42731    0.016123
Name: icd9_code, dtype: float64

In [19]:
sqll = "select distinct temp.subject_id, icd.icd9_code from mimiciii.diagnoses_icd icd \
      inner join (select distinct subject_id from mimiciii.prescriptions \
      where drug like '%Morphine%') temp \
      on icd.subject_id=temp.subject_id;"



allstayicu = pd.read_sql(sqll, con=conn)
allstayicu['icd9_code'].value_counts()[:3]

4019     10334
41401    7087
42731    6596
Name: icd9_code, dtype: int64

In [21]:
allstayicu.shape

(334025, 2)

In [12]:
6811 /46520

0.14641014617368875

In [8]:
feature_ = pd.read_csv('./new_file/19labevent_5output_15microanti_features.csv')

In [14]:
death_f = feature_[feature_.death_period == 1]
death_anti = death_f[death_f.ANTI == 1]
survival_anti = death_f[death_f.ANTI == 0]

In [13]:
death_anti.shape

(98, 44)

In [15]:
survival_anti.shape

(260, 44)

In [27]:
di = pd.read_sql(sql="select * from mimiciii.d_labitems;", con=conn)
di[di.label == 'Calculated Total CO2']

     row_id  itemid                 label  fluid   category loinc_code
131  5       50804   Calculated Total CO2  Blood  Blood Gas  34728-6

In [28]:
lab = pd.read_sql(sql="select * from mimiciii.labevents where itemid = 50804;", con=conn)
lab[:4]

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag
0,284,3,NaN,50804,2101-10-12 18:17:00,22,22.0,mEq/L,None
1,968,3,145834.0,50804,2101-10-22 04:31:00,16,16.0,mEq/L,None
2,986,3,145834.0,50804,2101-10-22 07:13:00,17,17.0,mEq/L,None
3,996,3,145834.0,50804,2101-10-22 10:16:00,17,17.0,mEq/L,None

In [29]:
admission_table = pd.read_sql(sql="select * from mimiciii.admissions", con=conn)

In [30]:
admission_table.to_csv('./Untitled Folder/admission_table.csv')

In [31]:
d_cpt = pd.read_sql(sql="select * from mimiciii.d_cpt", con=conn)

In [32]:
d_cpt.to_csv('./Untitled Folder/d_cpt.csv')

In [33]:
cpt_table = pd.read_sql(sql="select * from mimiciii.cptevents", con=conn)

In [34]:
cpt_table.to_csv('./Untitled Folder/cpt_table.csv')

In [37]:
d_icd_procedures = pd.read_sql(sql="select * from mimiciii.d_icd_procedures", con=conn)

In [38]:
d_icd_procedures.to_csv('./Untitled Folder/d_icd_procedures.csv')

In [39]:
diagnoses_table = pd.read_sql(sql="select * from mimiciii.diagnoses_icd", con=conn)

In [40]:
diagnoses_table.to_csv('./Untitled Folder/diagnoses_table.csv')

In [41]:
procedures_table = pd.read_sql(sql="select * from mimiciii.procedures_icd", con=conn)

In [42]:
procedures_table.to_csv('./Untitled Folder/procedures_table.csv')

In [45]:
d_labitems = pd.read_sql(sql="select * from mimiciii.d_labitems", con=conn)

In [46]:
d_labitems.to_csv('./Untitled Folder/d_labitems.csv')

In [ ]:
labevents = pd.read_sql(sql="select * from mimiciii.labevents", con=conn)

In [ ]:
labevents.to_csv('./Untitled Folder/labevents.csv')